<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">添加新标签</h1>
</div>
<div class="wrapper-md">
    <div ng-controller="tagEditCtrl">
        <div class="row">
            <div class="col-sm-12">
                <form name="form" class="form-validation" ng-submit="processForm();">
                    <div class="panel panel-default">
                        <div class="panel-body">
                        	<input type="hidden" ng-model="tag._id">
                            <div class="form-group">
                                <label>标签名称</label>
                                <input type="text" class="form-control" ng-model="tag.name" placeholder="请输入指标数据名称" required>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label>范围</label>
                               <input type="number" class="form-control" ng-model="tag.range"  placeholder="请输入指标数据最大值" required>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label>阀值</label>
                               <input type="number" class="form-control" ng-model="tag.threshold"  placeholder="请输入达标阀值" step="0.01" required>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label>标签描述</label>
                                <textarea class="form-control" rows="6" ng-model="tag.desc" placeholder="请输入描述"></textarea>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <div>
                                    <label>关联指标</label>
                                    <span class="pull-right">
                                        <a href="" ng-click="openSelect()"><i class="fa fa-plus fa-fw m-r-sm"></i>关联新指标</a>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                                <ul class="list-group gutter list-group-md list-group-sp">
                                    <li class="list-group-item col-xs-6 col-sm-4" ng-class='{"bg-primary":($index % 3 == 0),"bg-info": ($index % 3 == 1),"bg-success": ($index % 3 == 2)}' ng-repeat="indicator in tag.indicators">
                                        <span class="pull-right">
                                            <a href="">{{($index+97)|toChar}}</a>    
                                            <a href="" ng-click="delIndicator(indicator._id,$index)"><i class="fa fa-times fa-fw"></i></a>                  
                                        </span>
                                        <div class="clear">
                                            {{ indicator.name }}
                                        </div>
                                    </li>
                                </ul>
                                <div class="btn btn-default col-sm-12" ng-show="!tag.indicators || tag.indicators.length == 0" style="padding:60px 0;" ng-click="openSelect()">
                                    <a href="" ><i class="fa fa-plus fa-fw m-r-sm"></i>关联新指标</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <label>计算规则</label>
                                <textarea class="form-control" rows="6" ng-model="tag.expression" placeholder="请输入表达式"></textarea>
                            </div>
                        </div>
                        <footer class="panel-footer text-right bg-light lter">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </footer>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
